.sort__header {
  font-weight: 500;
  margin-bottom: 14px;
  font-size: 14px;
}

.sort-box {
  margin-bottom: 36px;
}
.filter-box {
  margin-bottom: 18px;
}

.price-box {
  margin-bottom: 18px;
}

.sort-filter-box {
  min-width: 255px;
  margin-right: 24px;
}

.sort-box input,
.filter-box input,
.airlines-box input {
  margin-right: 4px;
}

.sort-box label,
.filter-box label,
.price__option label {
  font-size: 14px;
  font-weight: 300;
}

.airline__option label {
  font-size: 13px;
  font-weight: 300;
}

.price-box label {
  margin-right: 4px;
}

.price__option {
  margin-bottom: 16px;
}

.sort__option input,
.filter__option input,
.airline__option input {
  cursor: pointer;
}

.price__option input {
  width: 173px;
}

.sort-filter-box__top {
  height: 36px;
  background-color: $grey;
  margin-bottom: 34px;
}

.sort-filter-box__bottom {
  height: 145px;
  background-color: $grey;
  margin-top: 36px;
}

.boxes-container {
  padding: 0px 22px;
}

.boxes-container button {
  margin-top: 4px;
  display: inline-block;
  outline: 0;
  cursor: pointer;
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 6px;
  color: #24292e;
  background-color: #fafbfc;
  border-color: #1b1f2326;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
  &:hover {
    background-color: #f3f4f6;
    border-color: #1b1f2326;
    transition-duration: 0.1s;
  }
}

.filter-box .sort__header {
  margin-bottom: 16px;
}

.airlines-box .sort__header {
  margin-bottom: 18px;
}
