.container {
  width: 80%;
  max-width: 920px;
  margin: 0 auto;
}

.flights-table {
  display: flex;
  margin-bottom: 40px;
}

.flights-box {
  width: 100%;
}

.grey-divider {
  height: 1px;
  width: 100%;
  background-color: $grey;
  margin-bottom: 12px;
}

.blue-divider {
  height: 2px;
  width: 100%;
  background-color: $blue;
  margin-bottom: 12px;
}
