$grey: #d9d9d9; // used in sort and filter box
$blue: #0087c9; // used in flight header
$orange: #ffb168; // used in button
$light-blue: #6ebbe0; // used in text and arrow
$dark-green: #274651; // used in text
